<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <div id="content" align="center">
        <form method="post">
            <h1>Login</h1>
            {{ form.csrf_token }}
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
